server:
  port: 8090
  servlet:
    context-path: /api/v1
spring:
  application:
    name: "Jobly-jobs"
  profiles:
    default: ${SPRING_PROFILES_ACTIVE:default}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        completions-path: v1/chat/completions
        options:
          model: gpt-4o-mini