server:
  port: 8090
  servlet:
    context-path: /api/v1
spring:
  application:
    name: "Jobly-jobs"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  ai:
    openai:
      api-key: ${open-ai-key}
      chat:
        completions-path: v1/chat/completions
        options:
          model: gpt-4o-mini