server:
  port: 8090
  servlet:
    context-path: /api/v1
spring:
  application:
    name: "Jobly-jobs"
    profiles:
      active: "dev"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  ai:
    openai:
      api-key: ${open-ai-key}
      chat:
        completions-path: v1/chat/completions
        options:
          model: gpt-4o-mini